<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>ChatGPT-clone</title>
    <script>
        function submitFunction() {
            document.getElementById('button-dev').innerHTML = '<div class="progress"><div class="indeterminate"></div></div>'
            document.getElementById("form").submit();
        }
    </script>
</head>

<body>
    <nav>
        <div class="nav-wrapper black">
            <a href="#" class="brand-logo center">ChatGPT-clone</a>
        </div>
    </nav>
    {% if has_result %}
    <div class="container">
        <div class="col s12 m7">
            <h2 class="header">Results</h2>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h6><b>{{text}}</b></h6>
                    </div>
                    <div class="card-action">
                        <a href="#">{{result}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <h3 class="header">ChatGPT-clone</h3>

        <div class="card horizontal">
            <div class="card-stacked">
                <form method="post" id="form">
                    {% csrf_token %}

                    <div class="card-content">
                        <div class="row">
                            <div class="col ">
                                <input type="text" name="text">
                            </div>
                        </div>
                    </div>
                    <div class="container red">
                        <p class="container white-text center">{{error}}</p>
                    </div>
                </form>
                
                <div class="card-action" id="button-dev">
                    <button class="waves-effect waves-light btn"
                        onclick="submitFunction()">Solve</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>